h2{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 30px;
}

.categorias-make{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2px;

    a{
        padding-bottom: 40px;
        cursor: pointer;
    }
   
}