* {
  font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    

    ul{
        display: flex;
        list-style: none;
        width: 35vw;
        justify-content: space-around;
        flex-wrap: wrap;

        a{
            font-family: "Poppins", sans-serif;
            text-decoration: none;
            color: #000000;
           
        }

    }
}