.footer{
    border-top:solid 2px #00000040 ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 25px;

    h4{
        padding: 10px;
        font-size: 1.5rem;
    }

    .service{
        display: flex;
        flex-direction: column;
        
        a{
            font-weight: 300;
           text-decoration: none; 
           font-size: 1.25rem;
           color:#2D2D2D;
           padding-bottom: 8px;
        }
        
    }

    .payments{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          .payments-icons{
             max-width: 300px;//limita o tamanho do cotainer para forcar a quebra
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;

            img{
                width: 90px;
            
            }
        }
    }

    .social{
        a{
            
            margin-left: 15px;

            img{
                width: 45px;
            }
        }
    }
}