.lancamentos{
    .wrapper{
        // border: solid red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 20px 110px;

        .lipstick{
            // border: solid green;
            display: flex;
            flex-direction: column;
            margin: 0 30px 0 70px;
            img{
                padding-bottom: 10px;
            }
           
           
        }
        .img_cor{
           width: 400px;
           height: 417px;
           margin-right: 70px;
        }

        .description{
            border: 1px solid #42414196;    
           
            max-width: 400px;
            display: flex;
            flex-direction: column;
            margin-right: 150px;
            padding-left: 20px;

            .img_star{
                width: 110px;
                height: 36px;
                margin-bottom: 10px;
            }
            
            h3{
                font-size: 1.5rem;
                margin-bottom: 10px;
            }

            p {
                font-size: 0.69rem;
                font-weight: 400;
                margin-bottom: 10px;
            }
            
        
            .colors{
                margin-bottom: 20px;
                button{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    cursor: pointer;
                    border: 2px solid #ccc;
                    
                    

                }
                .blue{background:#B1B0D8;}
                .red{background:#E1342A ;}
                .brown{background:#73282D ; }
                .nude{background: #DE755E;}


                
            }

            h4{
                font-size: 1.25rem;
                font-weight: 500;
                margin-bottom: 10px;
            }

        

        }
    }
}