*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    width: 100%;
    height: 150vh;
    // max-height: 500px;  
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top:solid 2px #00000040;
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .banner {
    height: 45vw;
    max-height: 450px;
  }
}
@media(max-width:750px){
    .banner{
        height: 70vw;
        max-height:380px ;
    }
}

@media(max-width:480px){
    .banner{
        height: 85vw;
        max-height:320px ;
    }
}